<div>
  <h1>Weather App</h1>

  <div class="weather-input">
    <input [(ngModel)]="city" type="text" name="city" id="city">
    <button (click)="searchWeather()">Get Weather</button>
  </div>
  <div *ngIf="weatherData">
    <p>Country: {{weatherData.sys.country}}</p>
    <p>Name: {{weatherData.name}}</p>
    <p>Weather: {{weatherData.weather[0].description}}</p>
    <p>Wind Speed: {{weatherData.wind.speed}}km/h</p>
    <p>Wind Temperature: {{weatherData.wind.deg}}</p>
    <p>Longitude: {{weatherData.coord.lon}}</p>
    <p>Latitude: {{weatherData.coord.lat}}</p>
    <p>Feels Like: {{weatherData.main.feels_like}}</p>
    <p>Humidity: {{weatherData.main.humidity}}</p>
    <p>Pressure: {{weatherData.main.pressure}}</p>
    <p>Temp: {{weatherData.main.temp}}</p>
    <p>Max Temp: {{weatherData.main.temp_max}}</p>
    <p>Min Temp: {{weatherData.main.temp_min}}</p>
    <p>Time Zone: {{getTimezone(weatherData.timezone)}}</p>
  </div>
</div>
